.background{
    background-image: url("download.jpg");
    background-size:cover ;
        background-repeat: no-repeat;
 vertical-align: middle;
 align-self: center;
 text-decoration:white;
 
 padding: 2px;
 font-size: 30px;
}